{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
   <p style="font-size: smaller">
  {% if post.citation %}
    Recommended citation: {{ post.citation }}<br />
  {% endif %}

  {% assign has_link = false %}

  {% if post.paperurl %}
    <a href="{{ post.paperurl }}">Paper</a>
    {% assign has_link = true %}
  {% endif %}

  {% if post.slidesurl %}
    {% if has_link %} | {% endif %}
    <a href="{{ post.slidesurl }}">Slides</a>
    {% assign has_link = true %}
  {% endif %}

  {% if post.bibtex %}
    {% if has_link %} | {% endif %}
    <a href="javascript:void(0);" onclick="toggleBib('{{ post.slug }}')">BibTeX</a>
  {% endif %}
</p>

{% if post.bibtex %}
  <div id="bibtex-box-{{ post.slug }}" style="display:none; border:1px solid #ccc; padding:10px; margin-top:10px; font-size: smaller; background:#f8f8f8;">
    <pre id="bibtex-content-{{ post.slug }}" style="white-space: pre-wrap; margin:0;">{{ post.bibtex }}</pre>
    <button onclick="copyBib('{{ post.slug }}')" style="margin-top:8px;">Copy</button>
  </div>
{% endif %}

  </article>
</div>
